body {
    background-color: #626262;
    font-family: 'Oswald', serif;
    font-size: 25px;
}

.text {
    background-color: #DB4444;
    padding: 1rem;
    text-align: center;
    font-size: 16px;
}

.image {
    padding: 1rem;
    background-color: #DB4444;
}

.inner {
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    height: 100%;
}

img {
    border-radius: 20px;
}

.card {
    opacity: 0;
    transition: 150ms;
}

.card.left {
    transform: translateX(-100px);
}

.card.right {
    transform: translateX(100px);
}

.navbar{
    padding: .5rem;
}

nav li:hover {
    background-color: #DB444444;
}

.row {
    --bs-gutter-x: 0;
}

#footerList {
    margin: 1rem;
}


.nav-item {
    padding: 1rem;
}

footer {
    background-color: white;
}

#big-container {
    width: 768px;
}

.card.show {
    transform: translateX(0);
    opacity: 1
}