body {
    background-color: #626262;
    font-family: 'Oswald', serif;
    font-size: 25px;
}

.text {
    background-color: #DB4444;
    padding: 1rem;
    text-align: center;
    font-size: 16px;
}

.image {
    padding: 1rem;
    background-color: #DB4444;
}

img {
    border-radius: 20px;
}

.navbar{
    padding: .5rem;
}

.row {
    --bs-gutter-x: 0;
}

.inner {
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    height: 100%;
}

#footerList {
    margin: 1rem;
}


.nav-item {
    padding: 1rem;
}

footer {
    background-color: white;
}